- const modalBlocks = ['used_car', 'service', 'gift', 'phone_number', 'final']

block modal
    script.
        const modalBlocks = ['used_car', 'service', 'gift', 'phone_number', 'final'];

        const nextModal = (id, current) => {
            document.querySelector(`.modal_content.${id}`).classList.add('hidden')
            document.querySelector(`.modal_content.${modalBlocks[current + 1]}`).classList.remove('hidden')
            document.getElementById(`tab-${current}`)?.classList.remove('checked')
            document.getElementById(`tab-${current + 1}`)?.classList.add('checked')
        }

        const closeModal = () => {
            document.querySelectorAll('.modal').forEach(modal => {
                modal.classList.add('hidden')
                modal.classList.remove('gift')
            })

            document.querySelectorAll('.modal_content')
                .forEach(slide => {
                    if (slide.classList.contains('consultation_phone_number') || slide.classList.contains('used_car')) {
                        slide.classList.remove('hidden')
                    }
                    else slide.classList.add('hidden')
                })

            document.querySelectorAll('.modal_tabs_item').forEach(tab => tab.classList.remove('checked'))
            document.getElementById(`tab-0`).classList.add('checked')
        }

        const onSubmit = (type) => {
            if ((type === 'consultation') && document.querySelector(`.modal.consultation`).classList.contains('gift'))
                type = 'gift'

            const data = { application_type: type };

            modalBlocks.forEach(item => {
                if (item !== 'final') data[item] = localStorage.getItem(item)
            })

            var _tmr = window._tmr || (window._tmr = []);
            _tmr.push({ type: 'reachGoal', id: 3350159, goal: 'Lead'});

            fetch(`https://${window.location.hostname}/api/add_lead${location.search ? location.search : ''}`, {
                method: "POST",
                body: JSON.stringify(data)
            })

            fetch('https://hook.us2.make.com/uap0yr5d8lbul3e9qjbcb7jc4ihh9po9', {
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                },
                method: "POST",
                body: JSON.stringify(data)
            });

            localStorage.clear();
        }

        const toNext = (id, type) => {
            var _tmr = window._tmr || (window._tmr = []);
            _tmr.push({type: 'reachGoal', id: 3350159, goal: 'next'});

            const current = modalBlocks.indexOf(id)

            if (id === 'consultation_phone_number') {
                ym(91958676, 'reachGoal', 'lead');
                localStorage.setItem('phone_number', document.getElementById(id).value);
                onSubmit(type);
                closeModal();
            }
            if (id === 'phone_number') {
                ym(91958676, 'reachGoal', 'lead');
                localStorage.setItem(id, document.getElementById(id).value);
                onSubmit(type);
                nextModal(id, current);
            }
            else if (id === 'final') {
                closeModal();
            }
            else {
                ym(91958676, 'reachGoal', 'next');
                // if (id === 'car_model') localStorage.setItem(id, document.getElementById(id).value);
                if (id === 'used_car' || id === 'gift') localStorage.setItem(id, document.querySelector(`input[name=${id}]:checked`).value);
                if (id === 'service') localStorage.setItem(id, Array.from(document.querySelectorAll(`input[name=${id}]:checked`)).map(item => item.value));
                nextModal(id, current);
            }
        }

        const toPrev = (id) => {
            const current = modalBlocks.indexOf(id);

            document.querySelector(`.modal_content.${id}`).classList.add('hidden')
            document.querySelector(`.modal_content.${modalBlocks[current - 1]}`).classList.remove('hidden')
            document.getElementById(`tab-${current}`).classList.remove('checked')
            document.getElementById(`tab-${current - 1}`).classList.add('checked')
        }

    div(class='modal blur hidden')

    div(class='modal full hidden')
        div.modal_close(data-value='full')
            img(src='./assets/icons/cross.svg', alt='cross')

        each block,i in modalBlocks
            +form(block, 'full')

        div.modal_tabs
            - for (let i = 0; i < modalBlocks.length; i++)
                label(class=`modal_tabs_item full ${i === 0 && 'checked'}` id=`tab-${i}`)

    div(class='modal consultation hidden')
        div.modal_close(data-value='consultation')
            img(src='./assets/icons/cross.svg', alt='cross')

        +form('consultation_phone_number', 'consultation')

        span
