mixin form(step, type)
    case step
        when 'car_model'
            div(class=`modal_content ${step}`)
                span
                div.box
                    h4 Модель вашего автомобиля

                    input(class='input form_input' type='text' id='car_model')
                button(class=`btn disabled` disabled id='for_car_model' onclick=`toNext('car_model', '${type}')`) Далее

        when 'used_car'
            div(class=`modal_content ${step} hidden`)
                span
                div.box
                    h4 Автомобиль новый, или с пробегом?

                    div.row
                        input.input_radio(type='radio' name='used_car' id='new_car' value='new_car')
                        label(for='new_car') Новый, без пробега
                    div.row
                        input.input_radio(type='radio' name='used_car' id='less_than_3' value='less_than_3')
                        label(for='less_than_3') С небольшим пробегом (до 3 тыс.)
                    div.row
                        input.input_radio(type='radio' name='used_car' id='more_than_3' value='more_than_3')
                        label(for='more_than_3') С пробегом (больше 3 тыс.)

                button(class=`btn disabled` disabled id='for_used_car' onclick=`toNext('used_car', '${type}')`) Далее

        when 'service'
            div(class=`modal_content ${step} hidden`)
                span
                div.box
                    h4 Услуга

                    div.box_grid
                        div.row
                            input.input_check(type='checkbox' name='service' id='ceramic' value='ceramic')
                            label(for='ceramic') Керамическое покрытие
                        div.row
                            input.input_check(type='checkbox' name='service' id='film' value='film')
                            label(for='film') Оклейка бронепленкой
                        div.row
                            input.input_check(type='checkbox' name='service' id='glass_repair' value='glass_repair')
                            label(for='glass_repair') Ремонт стекла
                        div.row
                            input.input_check(type='checkbox' name='service' id='dry_cleaning' value='dry_cleaning')
                            label(for='dry_cleaning') Химчистка
                        div.row
                            input.input_check(type='checkbox' name='service' id='toning' value='toning')
                            label(for='toning') Тонировка
                        div.row
                            input.input_check(type='checkbox' name='service' id='exterior' value='exterior')
                            label(for='exterior') Оклейка интерьера
                        div.row
                            input.input_check(type='checkbox' name='service' id='polishing' value='polishing')
                            label(for='polishing') Полировка кузова
                            polishing
                        div.row
                            input.input_check(type='checkbox' name='service' id='other' value='other')
                            label(for='other') Другое

                div.row
                    button(class='btn prev' onclick=`toPrev('service')`) Назад
                    button(class=`btn disabled` disabled id='for_service' onclick=`toNext('service', '${type}')`) Далее

        when 'gift'
            div(class=`modal_content ${step} hidden`)
                span
                div.box
                    h4 Подарок

                    div.row
                        input.input_radio(type='radio' name='gift' id='coupon' value='coupon')
                        label(for='coupon') Купон 2.000 ₽ на оклейку фар
                    div.row
                        input.input_radio(type='radio' name='gift' id='washing' value='washing')
                        label(for='washing') Мойка Премиум за 1900 ₽
                    div.row
                        input.input_radio(type='radio' name='gift' id='antirain' value='antirain')
                        label(for='antirain') Антидождь

                div.row
                    button(class='btn prev' onclick=`toPrev('gift')`) Назад
                    button(class=`btn disabled` disabled id='for_gift' onclick=`toNext('gift'), '${type}'`) Далее

        when 'phone_number'
            div(class=`modal_content ${step} hidden`)
                span
                div.box
                    h4 Отлично, остался последний шаг

                    input(class='input form_input' type='tel' id='phone_number')

                    p Оставьте номер телефона, по которому можно с вами связаться
                    p Мы сообщим вам сроки и полную стоимость, ответим на все вопросы, а также закрепим подарок за указанным номером

                    div.row
                        input.input_check(type='checkbox' id='agree_phone_number' value='agree' checked)
                        label(for='agree_phone_number')
                            div(style='display: grid') Заполняя форму, я принимаю
                                a(target="_blank" href='/user_agreement.html' style='text-decoration: underline') условия передачи информации

                div.row
                    button(class='btn prev' onclick=`toPrev('phone_number')`) Назад
                    button(class=`btn disabled` disabled id='for_phone_number' onclick=`toNext('phone_number'), '${type}'`) Далее

        when 'final'
            div(class=`modal_content ${step} hidden`)
                span
                h4 Мы закрепили купон на подарок за вами 😎
                    br
                    br
                    | Скоро наш менеджер позвонит вам, подскажет стоимость выбранной услуги и проконсультирует по всем вопросам 🙌🏻

                button(class=`btn` onclick=`toNext('final')`) Завершить

        when 'consultation_phone_number'
            div(class=`modal_content ${step}`)
                span
                div.box
                    h4 Оставьте ваш номер телефона ☎️
                        br
                        | Мы свяжемся с Вами в ближйшее время *

                    input(class='input form_input' type='tel' id='consultation_phone_number')
                    span * Если заявка пришла после 9 вечера — перезвоним в 10 утра на следующий день

                    div.row
                        input.input_check(type='checkbox' id='agree_consultation_phone_number' value='agree' checked)

                        label(for='agree_consultation_phone_number')
                            div(style='display: grid') Заполняя форму, я принимаю
                                a(target="_blank" href='/user_agreement.html' style='text-decoration: underline') условия передачи информации

                button(class=`btn disabled` disabled id='for_consultation_phone_number' onclick=`toNext('consultation_phone_number', '${type}')`) Отправить заявку
