-
    const pricesList = {
        mini: {
            header: 'Малый класс',
            img: './assets/img/prices/car_1.webp',
        },
        first: {
            header: 'Первый класс или гольф класс',
            img: './assets/img/prices/car_2.webp',
        },
        second: {
            header: 'Второй средний класс',
            img: './assets/img/prices/car_3.webp',
        },
        business: {
            header: 'Бизнес-класс',
            img: './assets/img/prices/car_4.webp',
        },
        grand: {
            header: 'Представительский класс',
            img: './assets/img/prices/car_5.webp',
        },
        doorcloser: {
            header: 'Стоимость за 4 двери',
            img: './assets/img/prices/car_4.webp',
            text: ''
        },
        mini_cleaning: {
            header: 'Малый класс',
            img: './assets/img/prices/car_1.webp',
        },
        mid_cleaning: {
            header: 'Средний класс',
            img: './assets/img/prices/car_2.webp',
        },
        business_cleaning: {
            header: 'Бизнес класс',
            img: './assets/img/prices/car_4.webp',
        },
        mini_film: {
            header: 'Малый класс',
            img: './assets/img/prices/car_1.webp',
        },
        mid_film: {
            header: 'Средний класс',
            img: './assets/img/prices/car_2.webp',
        },
        business_film: {
            header: 'Бизнес класс',
            img: './assets/img/prices/car_4.webp',
        },
        mini_ceramic: {
            header: 'Малый класс',
            img: './assets/img/prices/car_1.webp',
        },
        mid_ceramic: {
            header: 'Средний класс',
            img: './assets/img/prices/car_2.webp',
        },
        business_ceramic: {
            header: 'Бизнес класс',
            img: './assets/img/prices/car_4.webp',
        },
        mini_tinting: {
            header: 'Малый класс',
            img: './assets/img/prices/car_1.webp',
        },
        mid_tinting: {
            header: 'Средний класс',
            img: './assets/img/prices/car_2.webp',
        },
        business_tinting: {
            header: 'Бизнес класс',
            img: './assets/img/prices/car_4.webp',
        }
    }

mixin prices(items)
    div.prices
        each item in items
            - if (item.name && pricesList[item.name])
                div(class='prices_item frame')
                    h4=pricesList[item.name].header
                    img(src=pricesList[item.name].img alt="#")
                    p!=pricesList[item.name].text
                    div.prices_item_price!=item.price
            - else
                div(class='prices_item frame')
                    h4=item.header
                    div(class='frame prices_item_img')
                        img(src=item.img alt="#")
                    p!=item.text
                    div.prices_item_price!=item.price
