-
    const pricesList = {
        mini: {
            header: 'Малый класс',
            img: './assets/img/prices/car_1.webp',
            text: 'ДЛИНА: 3,6 — 3,9 м <br/>ШИРИНА: 1,5 — 1,7 м'
        },
        first: {
            header: 'Первый класс или гольф класс',
            img: './assets/img/prices/car_2.webp',
            text: 'ДЛИНА: 3,9 — 4,4 м <br/>ШИРИНА: 1,6 — 1,75 м'
        },
        second: {
            header: 'Второй средний класс',
            img: './assets/img/prices/car_3.webp',
            text: 'ДЛИНА: 4,4 — 4,8 м <br/>ШИРИНА: 1,7 — 1,8 м'
        },
        business: {
            header: 'Бизнес-класс',
            img: './assets/img/prices/car_4.webp',
            text: 'ДЛИНА: > 4,8 м <br/>ШИРИНА: > 1,8 м'
        },
        grand: {
            header: 'Представительский класс',
            img: './assets/img/prices/car_5.webp',
            text: 'ДЛИНА: > 5 м <br/>ШИРИНА: > 1,8 м'
        },
    }

mixin prices(items)
    div.prices
        each item in items
            - if (item.name && pricesList[item.name])
                div(class='prices_item frame')
                    h4=pricesList[item.name].header
                    img(src=pricesList[item.name].img alt="#")
                    p!=pricesList[item.name].text
                    h4.accent=item.price
            - else
                div(class='prices_item frame')
                    h4=item.header
                    div(class='frame prices_item_img')
                        img(src=item.img alt="#")
                    p!=item.text
                    h4.accent=item.price
