mixin slider(slides)
    div.slider
        each slide in slides
            - const {className, id, img} = slide
                input(class=`slider_input ${className}` type="radio" name=className id=`${className}-${id}` checked= id === 1)
                div(data-value=id class=`slider_item frame ${className}` style=`background-image: url("${img}")`)

        div(class=`slider_arrow left ${slides[0].className}`)
            img(src='./assets/icons/arrow-left.svg', alt="")
        div(class=`slider_arrow right ${slides[0].className}`)
            img(src='./assets/icons/arrow-right.svg', alt="")

        .slider_controls
            each slide in slides
                - const {className, id} = slide
                    label(class=`slider_controls_item ${className} ${id === 1 && 'checked'}` id=`control_${className}-${slide.id}` for=`${className}-${id}`)