mixin videoSlipper(slippers)
    div(class=`video slipper`)
        each slipper in slippers
            - const {className, id, src} = slipper
                input(class=`video slipper_input ${className}` type="radio" name=className id=`${className}-${id}` checked= id === 1)
                div(data-value=id class=`video slipper_item ${className}`)
                    iframe(id=`${className}-${id}` class=`frame ${className}` loading="lazy" src=src )

        div(class=`video slipper_arrow left ${slippers[0].className}`)
            img(src='./assets/icons/arrow-left.svg', alt="")
        div(class=`video slipper_arrow right ${slippers[0].className}`)
            img(src='./assets/icons/arrow-right.svg', alt="")

        div(class=`video slipper_controls`)
            each slipper in slippers
                - const {className, id} = slipper
                    label(class=`slipper_controls_item ${className} ${id === 1 && 'checked'}` id=`control_${className}-${slipper.id}` for=`${className}-${id}`)
