mixin videoSlider(slides)
    div(class=`video slider`)
        each slide in slides
            - const {className, id, src} = slide
                input(class=`video slider_input ${className}` type="radio" name=className id=`${className}-${id}` checked= id === 1)
                div(data-value=id class=`video slider_item ${className}`)
                    iframe(id=`${className}-${id}` class=`frame ${className}` type="text/html" width="100%" height="100%"
                        src=src)

        div(class=`video slider_arrow left ${slides[0].className}`)
            img(src='./assets/icons/arrow-left.svg', alt="")
        div(class=`video slider_arrow right ${slides[0].className}`)
            img(src='./assets/icons/arrow-right.svg', alt="")

        div(class=`video slider_controls`)
            each slide in slides
                - const {className, id} = slide
                    label(class=`slider_controls_item ${className} ${id === 1 && 'checked'}` id=`control_${className}-${slide.id}` for=`${className}-${id}`)
